h2. Benchmarking
p. Benchmark the runtime, array element swaps, and array element comparisons of each sorting algorithm with a random array of the given size.
p.text-danger. Warning: the sort runs client-side and may lock up the window on slower computers or certain browsers (IE) when sorting an array larger than 10,000.

form.form-horizontal(role='form')
  div.form-group
    label(for='size').col-md-2.control-label. Array size:
    div.col-md-2
      input.form-control(type='text', name='size', data-ng-model='size')
        
div.row(data-ng-show='error')
  div.col-md-12
    p.text-danger
      | Invalid array size. Please enter a number between 1 and {{ maxSize }}.
  
div.row.padded
  div.col-md-12.padded
    - for (var algorithm in algorithms)
      - if (algorithm.indexOf('Sort') >= 0)
        button.btn.btn-primary.margin(data-ng-click='run(\'#{algorithm}\')')
          - algorithm = algorithm.charAt(0).toUpperCase() + algorithm.replace('Sort', ' Sort').slice(1);
            | #{algorithm}
    button.btn.margin(data-ng-click='clearRuns()')
      | Clear Runs

div.row(data-ng-show='runs.length > 0')
  div.col-md-9
    | Showing statistics for {{ filtered.length }} of {{ runs.length }} runs
    table.table.table-striped.table-bordered
      thead
        tr
          th. Sort
          th.text-right. Array Size
          th.text-right. Runtime (ms)
          th.text-right. Swaps
          th.text-right. Comparisons
      tbody
        tr.text-right(data-ng-repeat='run in filtered = (runs | filter:search:strict)')
          td.text-left {{ run.sort }}
          td. {{ run.size }}
          td. {{ run.runtime }}
          td. {{ run.swaps }}
          td. {{ run.comparisons }}
        
  div.col-md-3
    | Filter benchmarking statistics:
    div.form-group
      label(for='filter-sort'). Sort:
      input.form-control(type='text', name='filter-sort', placeholder='bubbleSort', data-ng-model='search.sort')
    div.form-group
      label(for='filter-size'). Array size:
      input.form-control(type='text', name='filter-size', placeholder='{{ size }}', data-ng-model='search.size')
  