h2. Visualization
p. Click the button for the corresponding sorting algorithm to animate the sorting sequence.

div.row.padded
  div.col-md-12
    - for (var algorithm in algorithms)
      button.btn.btn-primary.margin(data-ng-click='animate(\'#{algorithm}\')')
        - algorithm = algorithm.charAt(0).toUpperCase() + algorithm.replace('Sort', ' Sort').slice(1);
          | #{algorithm}
    button.btn.margin(data-ng-click='reset()'). Reset Array
    
div.row
  div.col-md-12
    svg#chart