doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='#{description}')
    - var css = ['lib/bootstrap.min', 'lib/prism', 'styles.min'];
    - for (var i = 0; i < css.length; ++i)
      link(rel='stylesheet', href='css/#{css[i]}.css')
  body
    block content