<div class="row">
  Runtime: {{ stats.runtime }}
</div>

<div class="row">
  Accesses: {{ stats.accesses }}
</div>

<div class="row">
  Comparisons: {{ stats.comparisons }}
</div>

<div class="row">
  <input type="text" data-ng-model="elements">
</div>

<button class="btn btn-primary" data-ng-click="run('selectionSort')">Selection Sort</button>
<button class="btn btn-primary" data-ng-click="run('bubbleSort')">Bubble Sort</button>
<button class="btn btn-primary" data-ng-click="run('insertionSort')">Insertion Sort</button>
<button class="btn btn-primary" data-ng-click="run('cocktailSort')">Cocktail Sort</button>